package views

import "baby-log/internal/views/layout"
import "baby-log/internal/views/components"

templ ActivityView() {
	@layout.AdminBase() {
		@components.Container() {
			<div>Testing</div>
		}
	}
}
